<!-- app/templates/admin/users/users.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Usuarios</h1>
        {% if users %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> Nombre </th>
                  <th width="30%"> Nombre de usuario </th>
                  <th width="40%"> Email </th>
                </tr>
              </thead>
              <tbody>
              {% for user in users %}
                {% if user.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                        <td> <i class="fa fa-key"></i> Administrador </td>
                        <td> {{ user.username }} </td>
                        <td> {{ user.email }} </td>
                    </tr>
                {% else %}
                    <tr>
                      <td> {{ user.first_name }} {{ user.last_name }} </td>
                      <td> {{ user.username }} </td>
                      <td> {{ user.email }} </td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}