<!-- app/templates/home/admin_dashboard.html -->

{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Tablero administrativo</h1>
                    <hr class="intro-divider">
                    <a href="{{ url_for('admin.list_books') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-book"></i> Lista de libros completa </a>
                    <br/>
                    <br/>
                    <a href="{{ url_for('admin.add_book') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-plus"></i> Agregar libro </a>
                    <a href="{{ url_for('books.search') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-pencil"></i> Editar / <i class="fa fa-trash"></i> Borrar libro </a>
                    <br/>
                    <br/>
                    <a href="{{ url_for('admin.list_users') }}" class="btn btn-default btn-lg">
                      <i class="fa fa-user"></i> Usuarios </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}