<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Bienvenido a la biblioteca</h1>
                    <h3>{{ book_count }} libros y contando!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}