<!-- app/templates/books/search_results.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Resultados de busqueda{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Resultados de busqueda</h1>
        {% if search_results %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="45%"> Título </th>
                  <th width="10%"> Género </th>
                  <th width="10%"> Autor </th>
                  <th width="10%"> Editorial </th>
                  <th width="5%"> Ubicación </th>
                  <th width="10%"> Comentario </th>
                  {% if current_user.is_admin %}
                    <th width="5%"> Editar </th>
                    <th width="5%"> Borrar </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for result in search_results %}
                <tr>
                  <td> <a href="{{ url_for('books.single_view', id=result.id)}}">{{ result.title }}</a> </td>
                  <td> {{ result.genre }} </td>
                  <td> {{ result.author }} </td>
                  <td> {{ result.publisher }} </td>
                  <td> {{ result.location }} </td>
                  <td> {{ result.comment }} </td>
                  {% if current_user.is_admin %}
                    <td>
                      <a href="{{ url_for('admin.edit_book', id=result.id) }}">
                        <i class="fa fa-pencil"></i> Editar 
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('admin.delete_book', id=result.id) }}">
                        <i class="fa fa-trash"></i> Borrar 
                      </a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No se encontraron resultados. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}