<!-- app/templates/books/single_view.html -->

{% extends "base.html" %}
{% block title %}Vista singular{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center-singleview">
          <div class="image-frame"></div>
          <div class="info-frame">
            <br/>
            {% if title_is_abridged %}
              <div class="popup" onclick="openPopup('popupFullTitle')">
                <h1>{{ title_abridged }}</h1>
                <span class="popuptext" id="popupFullTitle">
                  <span id="fullTitle">{{ book.title }}</span>
                  <br/>
                  <br/>
                  <a href="#" class="btn btn-default btn-lg" onclick="copyToClipboard('fullTitle')">
                    <i class="fa fa-clipboard"></i></a>
                </span>
              </div>
            {% else %}
              <h1>{{ title_abridged }}</h1>
            {% endif %}
            {% if author_is_abridged %}
              <div class="popup" onclick="openPopup('popupFullAuthor')">
                <h2>por {{ author_abridged }}</h2>
                <span class="popuptext" id="popupFullAuthor">
                  <span id="fullAuthor">{{ book.author }}</span>
                  <br/>
                  <br/>
                  <a href="#" class="btn btn-default btn-lg" onclick="copyToClipboard('fullAuthor')">
                    <i class="fa fa-clipboard"></i></a>
                </span>
              </div>
            {% else %}
              <h2>por {{ author_abridged }}</h2>
            {% endif %}
            <br/>
            <br/>
            <br/>
            Género: {{ book.genre }}<br/>
            Editorial: {{ book.publisher }}<br/>
            Ubicación: {{ book.location }}<br/>
            Comentario: {{ book.comment }}<br/>
            <br/>
            {% if current_user.is_admin %}
              <a href="{{ url_for('admin.edit_book', id=book.id) }}" class="btn btn-default btn-lg">
                <i class="fa fa-pencil"></i> Editar </a>
              <a href="{{ url_for('admin.delete_book', id=book.id) }}" class="btn btn-default btn-lg">
                <i class="fa fa-trash"></i> Borrar </a>
            {% endif %}
            <br/>
            <br/>
            <a href="#" class="btn btn-default btn-lg" onclick="window.history.back()">
              <i class="fa fa-arrow-left"></i> Regresar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function openPopup(elementName) {
    var popup = document.getElementById(elementName);
    popup.classList.toggle("show");
}
function copyToClipboard(elementName) {
  /* Get the text field */
  var copyText = document.getElementById(elementName).textContent;
  var dummy = document.createElement("input");

  document.body.appendChild(dummy);
  dummy.setAttribute('value', copyText);
  dummy.select();
  document.execCommand("Copy");
  document.body.removeChild(dummy);

  /* Alert the copied text */
  alert("Se copió el texto: " + copyText);
} 
</script>
{% endblock %}