<!-- app/templates/errors/403.html -->

{% extends "base.html" %}
{% block title %}Prohibido{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> Error 403 </h1>
            <h3> No tienes permisos suficientes para acceder a esta página. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                Inicio
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}