<!-- app/templates/errors/404.html -->

{% extends "base.html" %}
{% block title %}Página inexistente{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> Error 404 </h1>
            <h3> La página que estas buscando no existe. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                Inicio
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}