<!-- app/templates/errors/500.html -->

{% extends "base.html" %}
{% block title %}Error Interno del Servidor{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> Error 500 </h1>
            <h3> Se produjo un error interno en el servidor. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                Inicio
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}