<!-- app/templates/admin/books/books.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Libros{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Libros</h1>
        {% if books %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="45%"> Título </th>
                  <th width="10%"> Género </th>
                  <th width="10%"> Autor </th>
                  <th width="10%"> Editorial </th>
                  <th width="5%"> Ubicación </th>
                  <th width="10%"> Comentario </th>
                  <th width="5%"> Editar </th>
                  <th width="5%"> Borrar </th>
                </tr>
              </thead>
              <tbody>
              {% for book in books %}
                <tr>
                  <td> {{ book.title }} </td>
                  <td> {{ book.genre }} </td>
                  <td> {{ book.author }} </td>
                  <td> {{ book.publisher }} </td>
                  <td> {{ book.location }} </td>
                  <td> {{ book.comment }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_book', id=book.id) }}">
                      <i class="fa fa-pencil"></i> Editar 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_book', id=book.id) }}">
                      <i class="fa fa-trash"></i> Borrar 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Aún no se agregaron libros. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_book') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Agregar libro
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}