/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #734d37; /*#aec251*/
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #301e12; /*#687430*/
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #301e12;
    background-color: #ddd7d3;
    border-color: #734d37;
}

.btn-default {
    border-color: #734d37;
    color: #734d37;

}

.btn-default:hover {
    background-color: #734d37;
    color: #ddd7d3;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-singleview {
    margin: auto;
    width: 70%;
    padding: 10px;
    font-size: 0;
}

.image-frame {
    float: left;
    max-width: 30%;
    background: url(../img/no-cover.png) no-repeat center center;
    background-size: contain;
    height: 600px;
    width: 450px;
    display: inline-block;
}

.info-frame {
    float: right;
    width: 70%;
    padding-left: 80px;
    padding-top: 60px;
    font-size: 16px;
}

.info-frame > h1 {
    font-size: 3.5em;
}

.info-frame > h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup > h1 {
    font-size: 3.5em;
}

.popup > h2 {
    margin: 0;
    font-size: 1.5em;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
    border-color: #734d37;
    color: #734d37;
    background-color: #ffffff;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    padding: 8px 4px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30%;
    margin-left: -60px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #734d37 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
@media screen and (max-width: 400px) {
    .intro-divider {
        width: 200px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center bottom;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}
@media screen and (max-width: 400px) {
    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
@media screen and (max-width: 400px) {
    .intro-message > h3 {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 1.2em;
    }
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.outer {
    display: table;
    /*position: absolute;*/
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
  /*min-height: 70%;*/
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}