<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }} | Babel - Biblioteca doméstica</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Babel</a>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                      <li><a href="{{ url_for('home.admin_dashboard') }}">Tablero</a></li>
                      <li><a href="{{ url_for('books.search') }}">Busqueda</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>
                    <li><a><i class="fa fa-user"></i>  Hola, {{ current_user.username }}!</a></li>
                  {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Inicio</a></li>
                    <li><a href="{{ url_for('books.search') }}">Busqueda</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Ingresar</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Inicio</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="{{ url_for('books.search') }}">Busqueda</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% if current_user.is_authenticated %}
                          <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>
                        {% else %}
                          <li><a href="{{ url_for('auth.login') }}">Ingresar</a></li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">Desarrollado por <a href="https://gitlab.com/ajponzano">Aj</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>